<!doctype html>
{% load static %}

<html lang="fr">



  <head>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="//fonts.googleapis.com/css?family=Monofett&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <title>Coding Sisters</title>
  </head>

  <body>

    



    <div class="page-header">
	    <!--  <h1><a href="/">Coding Sisters</a></h1> -->
	<a href="/"><img src="{% static "images/logo_flat.png" %}" alt="logo" height="150px"/></a>
    </div>

    <div class="topnav">
      <ul id="nav">
        <a href="/">Home</a>
        <a href="/enrolment/new/">Inscris-toi !</a>
	<a href="{% static "images/CodingSisters_flyer_2020.pdf" %}">Flyer</a>
	<a href="{% static "images/Charte_CodingSisters_2021.pdf" %}">Charte</a>
	<a href="/bios/">Les encadrantes</a>
	<a href="mailto:contact@codingsisters.fr">Contacte nous </a>
      </ul>
    </div>

    <!-- 
    <nav class="navbar navbar-toggleable-md navbar-light bg-info">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="text" placeholder="Search">
         <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
       </form>
      </div>
    </nav> -->

    <div class="content container">
        <div class="row">
            <div class="col-md-8 offset-3">
                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>

<!--     <div class="page-footer">
        <h3><a href="mailto:france.rose@wanadoo.fr">Contact us!</a> </h3>
    </div> -->

  </body>


</html>

