{% extends 'base.html' %} 
{% load static %}


{% block content %}

	<style type="text/css">
		p {
		       padding-left: 40px;
		    }
	</style>

	<div style="background: rgba(238,118,116,.6); 
            font-size: 16px; 
            padding: 10px; 
            border: 3px solid #FF0038; 
            margin: 5px;">
	  <p><i>Coding Sisters</i> revient à la rentrée de septembre 2021 ! Nous souhaitons à tou.te.s un bon déconfinement, une bonne fin d'année scolaire et un bon été.</p>

	  <p>Tu es une femme qui code et tu souhaites tutorer nos jeunes Coding Sisters? <a href="mailto:contact@codingsisters.fr">Contacte nous</a> au plus vite !</p>
	</div>

    <div class="section">
    	<h2><a>Un tutorat en programmation à destination des lycéennes</a></h2>
        <p>Un constat : les métiers de la programmation et de la donnée ne cessent de se démultiplier et de se diversifier, or depuis les années 80 on observe un recul de la participation des femmes à ces métiers (1). Ces inégalités s’expliquent en partie par la culture "geek" qui représente ces métiers comme des occupations majoritairement masculines.</p>

		<p>Cet atelier de tutorat hebdomadaire accueille des jeunes filles et minorités de genre pour les aider à débuter en informatique ou à progresser au gré de leurs envies et de leurs projets. Nous souhaitons que chacune se sente la bienvenue quelque soit ses connaissances techniques.</p>

		<p>Nous proposons aussi aux participantes de discuter et de débattre, à partir de leur vécu et de leurs observations, des stéréotypes et de leurs origines dans l’informatique et de la tech. Pour créer un espace convivial et stimulant, nous veillons au mieux à la diversité des encadrantes, quant à leurs thématiques et leur parcours. </p>

		<p> (1) <a href="https://tinyurl.com/y2fdup4c">“The Stats On Women In Tech Are Actually Getting Worse”</a>  By Emily Peck. Dec 06, 2017. </p>
    </div>


    <div class="section">
    	<h2><a>Notre engagement </a></h2>
			<ul type="circle">
			    <li><b>Accueillir</b> dans un cadre bienveillant les jeunes filles et minorités de genre</li>
			    <li><b>S’adapter</b> au niveau de chacune, débutante ou confirmée</li>
			    <li><b>Enseigner</b> les outils de la programmation via des projets personnalisés</li>
			    <li><b>Questionner</b> les stéréotypes et les conséquences de l’utilisation des technologies dans nos vies</li>
			</ul> 
	</div>


	<div class="section">
    	<h2><a>“Le code, c’est pas pour moi !” </a></h2>

			<p> Nous cherchons à encourager celles qui ne correspondent pas au cliché qu’on se fait du programmeur/développeur, et à tenter l’expérience ! <b>Le code se conjugue aussi au féminin et dans la diversité.</b> </p>

			<img src="{% static "images/pourquoi.png" %}" width="797" height="503" alt="Pourquoi coder">
	</div>


	<div class="section">

		<h2><a>Comment ça se passe ?</a></h2>


		<!-- <p> Une séance hebdomadaire le <b>samedi de 14h à 16h ou 16h à 18h</b> dans les locaux de l’ENS (Ecole Normale Supérieure, 45 rue d’Ulm Paris 5e). Le tutorat est totalement <b>gratuit</b>. Des ordinateurs sont fournis mais tu peux aussi apporter le tien, nous t'aiderons alors à installer un environnement de développement pour pratiquer le python.  

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.8586029202347!2d2.341850516264602!3d48.841835709825354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671e9ef934229%3A0x315c92116f781824!2s45%20Rue%20d&#39;Ulm%2C%2075005%20Paris!5e0!3m2!1sfr!2sfr!4v1571753360006!5m2!1sfr!2sfr" width="500" height="350" style="border:0;"></iframe>

			<p> Si tu débutes en code, tu pourras découvrir les outils basiques de programmation et les notions fondamentales grâce à des petits exercices interactifs. Dès que tu as les bases, tu peux choisir des projets courts ou plus conséquents en fonction de tes goûts. Nous fonctionnons en cycle d'environ 5 semaines entre les vacances scolaires. Tu y apprendras à coder en Python, un langage très répandu qui te permettra de progresser rapement et de réaliser tes premiers projets. </p> </p> -->

			<p> Une séance hebdomadaire le <b>samedi de 17h à 19h (CET)</b> en ligne (pour la durée de la pandémie). Le tutorat est totalement <b>gratuit</b>. Il suffit d'avoir un ordinateur à la maison et une connection internet, aucune installation de logiciel n'est néessaire !

			<p> Inscris-toi gratuitement en remplissant <a href="enrolment/new"> ce formulaire</a>. Tu dois t’engager à respecter la <a href="{% static "images/Charte_CodingSisters_2020.pdf" %}"> charte</a> et à venir pour l’ensemble des séances d’un cycle. Le tutorat est <b>évolutif</b> et nous encourageons les Coding Sisters à faire plus d'un cycle pour continuer leur progression.</p>

	</div>


	<div class="section">
		<h2><a>Qui sommes-nous ? </a></h2>
			<p> A l’origine du projet, nous sommes deux chercheuses, Juliane et France, issues de la science. La programmation est un outil essentiel à nos travaux quotidiens. Nous partageons une même expérience : même si ce n’est pas notre sujet principal de travail, il nous est indispensable de comprendre et de se débrouiller avec l’informatique, les outils numériques et la programmation. </p>

		</p>
		<h3><a>Pour mieux nous connaître,</a></h3>

		<p>tu peux aller voir nos <a href="bios/">présentations</a>. Bonne lecture ! ;)</p>

	</div>

{% endblock %}
